.icharts_default col:first-child
{
	width:7em;	
	text-align:right;
}
.icharts_default input[type="text"]
{
	width:3em;	
}
.v35v_icharts {
	min-height: 16px;
	padding-left: 17px;
	background-image: url('../images/tinymce.jpg');
	background-position: left top;
	background-repeat: no-repeat;
}
