.v35v .delete_icon
{
	padding:0;
	padding-left:20px;
	padding-top:20px;
	background-image:url('icon_delete.gif');
	background-position:left bottom;
	background-repeat:no-repeat;
	cursor:help;
}
.v35v .copy_icon
{
	padding:0;
	padding-left:20px;
	padding-top:20px;
	background-image:url('icon_copy.gif');
	background-position:left bottom;
	background-repeat:no-repeat;
	cursor:help;
}
.v35v label.info,
.v35v a.info,
.v35v span.info
{
	padding-right:20px;
	min-height:20px;
	background-image:url('icon_info.gif');
	background-position:right center;
	background-repeat:no-repeat;
	cursor:help;
}
.v35v .diag_icon
{
	padding:0;
	padding-left:20px;
	padding-top:20px;
	background-image:url('icon_diag.gif');
	background-position:left bottom;
	background-repeat:no-repeat;
	cursor:help;
}
.v35v .spacer_icon
{
	padding:0;
	padding-left:20px;
	padding-top:20px;
}
.v35v label.info,
.v35v a.info,
.v35v span.info
{
	padding-right:20px;
	min-height:20px;
	background-image:url('icon_info.gif');
	background-position:right center;
	background-repeat:no-repeat;
	cursor:help;
}
.v35v a.online_info,
.v35v label.online_info,
.v35v span.online_info
{
	padding-left:22px;
	min-height:22px;
	background-image:url('icon_online_info.png');
	background-position:left center;
	background-repeat:no-repeat;
	cursor:help;
}
.v35v span.vis_info
{
	padding-left:20px;
	min-height:20px;
	background-image:url('icon_info.gif');
	background-position:left center;
	background-repeat:no-repeat;
	cursor:help;
}
.v35v .column_name
{
	width:150px;
}
.v35v .column_table
{
	width:200px;
}
.v35v .column_instruciton
{
}
.v35v .column_action
{
	text-align:right;
}
.v35v .column_source
{
	width:60px;
}
.v35v input.copy,
.v35v input.delete,
{
	width:20px;
}
.v35v .row_new input
{
	width:200px;
}
.v35v .row_diag textarea
{
	width:100%;
	height:100px;
}
.v35v .column_first
{
	width:250px;
	vertical-align:text-top;
}
.v35v .row_show .column_second pre
{
	overflow:auto;
	width:800px;
	max-height:800px;
}
.v35v .row_action
{
	text-align:right;
}
.bv35v_debug
{
	margin:0;
	padding:0;
	width:10px;
	width:10px;
	background-color:red;
}
